.App {
	/* display: flex; */
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
	/* background-color: bisque; */
	/* margin-bottom: 5rem; */
}
.content {
	/* display: flex; */
	width: 100%;
	height: calc(100vh - 3.5rem);
	justify-content: center;
	align-items: center;
	position: relative;
	top: 3.5rem;
	/* background-color: rgb(238, 196, 255); */
}
